.form-exercise {
  margin-bottom: 1.5rem;
}

.tooltip {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ec {
  padding-top: 3rem;
  margin-bottom: 3rem;

  .ec-svg-wrapper {

    .ec-title {
      font-size: 1.875rem;
      font-weight: 700;
      margin-left: 3.75em;
      margin-bottom: 0;
    }
    
    .ec-svg {
  
      .ec-group-chart {

        .area {
          fill: $colorFitbod;
          stroke: $colorFitbodDarkened;
          stroke-width: 2px;
        }
  
        .point {
          fill: $colorFitbodBlack;
        }
      }
    }
  }
}
